<nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-lg-2">
                <a href="/">
                    <img class="logo" src="img/samsclub.png" alt="Sam's Club">
                </a>
            </div>


            <div class="col-sm-12 col-lg-10">
                <label for="drop" class="toggle btn btn-block btn-fantasma">Menu</label>
                <input type="checkbox" id="drop" />
                
                <ul class="menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Como funciona</a></li>
                    <li><a href="#">Por que ser sócio?</a></li>
                    <li><a href="#">Produtos</a></li>
                    <li><a href="#">Eventos</a></li>
                    <li><a href="#">Atendimento</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>