{% extends 'layouts/default.twig' %}
{% set head_title = 'Sams Club' %}
{% set head_canonical = 'index.html' %}

{% block page %}
	{% include 'components/nav.twig' %}

	<section class="slide">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-lg-6">
					<p class="pre">Por apenas R$199,00</p>
					
					<h1>Smart Watch X Transform</h1>
					
					<p class="descricao">O SmartWatch é um relógio touchscreen que se conecta ao seu celular. Usado como uma segunda tela do smartphone, o relógio usa a internet e é capaz... receber aplicativos para mostrar informações e operar recursos do telefone. Dentre as funcionalidades disponíveis estão as de mostrar últimas notícias do Facebook, operar o player de música e fazer ligação.</p>

					<div class="row">
						<div class="col-xs-12 col-xl-6">
							<a class="btn btn-block btn-primary" href="landing.html">Seja sócio do Sam's Club</a>
						</div>
						<div class="col-xs-12 col-xl-6">
							<a class="btn btn-block btn-secundary" href="#">Ver catálogo completo</a>
						</div>
					</div>
				</div>
				
				<div class="col-xs-12 col-lg-6">
					<img src="img/img-slide.jpg" alt="nome do produto">
				</div>
			</div>
		</div>
	</section>

	<section class="sessao-beneficios">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-4">
					<div class="row">
						<div class="col-2">
							<img src="img/ico-beneficio-1.png" alt="nome do benefício">
						</div>
						<div class="col-10">
							<h3>lorem ipsum</h3>
							<p>Mollis nec consequat at In feugiat molestie tortor a malesuada etiam.</p>
						</div>
					</div>
				</div>
				
				<div class="col-xs-12 col-md-4">
					<div class="row">
						<div class="col-2">
							<img src="img/ico-beneficio-2.png" alt="nome do benefício">
						</div>
						<div class="col-10">
							<h3>lorem ipsum</h3>
							<p>Mollis nec consequat at In feugiat molestie tortor a malesuada etiam.</p>
						</div>
					</div>
				</div>
				
				<div class="col-xs-12 col-md-4">
					<a class="btn btn-block btn-primary" href="landing.html">Seja sócio do Sam's Club</a>
				</div>
			</div>
		</div>
	</section>

	<section>
	    <div class="container">
	        <div class="row">
	            <div class="col-xs-12 col-lg-6">
	                <div class="card-produto">
	                    <div class="row">
	                        <div class="col-xs-12 col-md-6 center">
	                            <img src="img/produto01.jpg" alt="nome do produto">
	                        </div>
	                        <div class="col-xs-12 col-md-6">
	                            <h3>Super promoção: Nutella de 1kg</h3>
	                            <p class="descricao">Mollis nec consequat at In feugiat molestie tortor a malesuada etiam.</p>
	                            <p class="valor valor-grande">R$ 20,00</p>
	                            <p class="destaque">desconto de 70%</p>
	                            <a class="btn btn-small btn-primary" href="landing.html">Saiba mais</a>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="col-xs-12 col-lg-6">
	                <div class="card-produto">
	                    <div class="row">
	                        <div class="col-xs-12 col-md-6 center">
	                            <img src="img/produto02.jpg" alt="nome do produto">
	                        </div>
	                        <div class="col-xs-12 col-md-6">
	                            <h3>Café Orfeu em Sachê - 18 unidades</h3>
	                            <p class="descricao">Mollis nec consequat at In feugiat molestie tortor a malesuada etiam.</p>
	                            <p class="valor valor-grande">R$ 45,00</p>
	                            <p class="destaque">desconto de 60%</p>
	                            <a class="btn btn-small btn-primary" href="landing.html">Saiba mais</a>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</section>

	<section>
		<div class="container">
			<p class="pre">Destaque da semana</p>

			<div class="row">
				<div class="col-xs-12 col-lg-8">
					<div class="card-banner">
						<a href="#">
							<img src="img/banner01.jpg" alt="nome do produto">
						</a>
					</div>
				</div>
				
				<div class="col-xs-12 col-lg-4">
					<div class="card-banner">
						<a href="#">
							<img src="img/banner02.jpg" alt="nome do produto">
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-lg-4">
					<p class="pre">Destaque do mês</p>

					<div class="card-banner">
						<a href="#">
							<img src="img/banner03.jpg" alt="nome do produto">
						</a>
					</div>
				</div>
				
				<div class="col-xs-12 col-lg-8">
					<p class="pre">Conheça nossas principais categorias</p>

					<div class="card-categorias center">
						<div class="row">
							<div class="col-xs-6 col-md-6 col-lg-3">
								<a href="landing.html">
									<img src="img/categoria-alimentacao.png" alt="Alimenação">
									<h4>Alimenação</h4>
									<p>mais de xx produtos</p>
								</a>
							</div>
							<div class="col-xs-6 col-md-6 col-lg-3">
								<a href="landing.html">
									<img src="img/categoria-bebes.png" alt="Bebês">
									<h4>Bebês</h4>
									<p>mais de xx produtos</p>
								</a>
							</div>
							<div class="col-xs-6 col-md-6 col-lg-3">
								<a href="landing.html">
									<img src="img/categoria-carro.png" alt="Carro">
									<h4>Carro</h4>
									<p>mais de xx produtos</p>
								</a>
							</div>
							<div class="col-xs-6 col-md-6 col-lg-3">
								<a href="landing.html">
									<img src="img/categoria-eletro.png" alt="Eletrodomésticos">
									<h4>Eletrodomésticos</h4>
									<p>mais de xx produtos</p>
								</a>
							</div>
							<div class="col-xs-6 col-md-6 col-lg-3">
								<a href="landing.html">
									<img src="img/categoria-info.png" alt="Informática">
									<h4>Informática</h4>
									<p>mais de xx produtos</p>
								</a>
							</div>
							<div class="col-xs-6 col-md-6 col-lg-3">
								<a href="landing.html">
									<img src="img/categoria-televisao.png" alt="Televisão">
									<h4>Televisão</h4>
									<p>mais de xx produtos</p>
								</a>
							</div>
							<div class="col-xs-6 col-md-6 col-lg-3">
								<a href="landing.html">
									<img src="img/categoria-bebidas.png" alt="Bebidas">
									<h4>Bebidas</h4>
									<p>mais de xx produtos</p>
								</a>
							</div>
							<div class="col-xs-6 col-md-6 col-lg-3">
								<a href="landing.html">
									<img src="img/categoria-chocolates.png" alt="Chocolates">
									<h4>Chocolates</h4>
									<p>mais de xx produtos</p>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<p class="pre">Algumas ofertas válidas até 31/03/2018</p>
			<div class="card-produto">			
				<div class="row">
					<div class="col-xs-12 col-lg-4">
						<img class="center" src="img/produto03.jpg" alt="nome do produto">
						<h3>Whisky Johnnie Walker Blue Label King George V</h3>
						<p class="descricao">Mollis nec consequat at In feugiat molestie tortor a malesuada etiam a consequat venenatis ipsum</p>
						<p class="valor">de <span class="strike">R$200,00</span> por R$155,00</p>
					</div>
					
					<div class="col-xs-12 col-lg-4">
						<img class="center" src="img/produto04.jpg" alt="nome do produto">
						<h3>Pampers Premium Care XG - Caixa com 60 unidades</h3>
						<p class="descricao">Mollis nec consequat at In feugiat molestie tortor a malesuada etiam a consequat venenatis ipsum</p>
						<p class="valor">de <span class="strike">R$120,00</span> por R$50,00</p>
					</div>
					
					<div class="col-xs-12 col-lg-4">
						<img class="center" src="img/produto05.jpg" alt="nome do produto">
						<h3>morphy richards espresso machine</h3>
						<p class="descricao">Mollis nec consequat at In feugiat molestie tortor a malesuada etiam a consequat venenatis ipsum</p>
						<p class="valor">de <span class="strike">R$220,00</span> por R$120,00</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	{% include 'components/footer.twig' %}
{% endblock %}